/* fonts */
$open-sans: 'Open Sans', sans-serif;

/* Colors */
$dark: rgb(29, 29, 29);
$ligth: #ffffff;
$primary: rgb(162, 162, 256);
$bg: rgb(244, 244, 255);
$color-title: #35b0bf;
$greenLight: #08fdd8;

/* Spacing */

$spacing-md: 16px;
$spacing-lg: 32px;

/* Border-Radius */

$BorderRadius: 12px;

/* Header-height */
$header-height: 60px;

@mixin breakpoint($point) {
	@if $point == md {
		// 760px
		@media (min-width: 48rem) {
			@content;
		}
	}
}
