/* fonts */
$open-sans: 'Open Sans', sans-serif;

/* Colors */
$dark: #1d1d1d;
$ligth: #ffffff;
$color-title: #35b0bf;
$greenLight: #08fdd8;

/* Spacing */

$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;

/* Border-Radius */

$border-radius: 1.2rem;

/* Header-Higth */
$header-hight: 60px;

@mixin breakpoint($point) {
	@if $point == md {
		// 760px
		@media (min-width: 48rem) {
			@content;
		}
	}
}
