@import '../../styles/vars';

.container {
	width: 100%;
	background: $bg;

	h1 {
		padding: 1.5rem 2.5rem;
		background: linear-gradient(220deg, $primary, rgba($primary, 0.5));
		border-radius: $BorderRadius calc(#{$BorderRadius} * 10);
	}
}
