@import '../../styles/vars';

/* Header */
.header {
	background: $dark;
	width: 100%;
	height: $header-height;
	padding: 0 1.5rem;
	text-align: center;
	@include breakpoint(md) {
		padding: 0 8rem;
	}
	transition: 0.3s ease all;

	&__content {
		overflow: hidden;
		color: $ligth;
		margin: 0 auto;
		max-width: 1920px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 1;

		&__logo {
			padding: 0 4rem;
			width: 100px;
		}

		&__toggle {
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 2rem;
			transition: 0.3s ease all;
			position: relative;

			&:hover {
				color: $primary;
			}

			@include breakpoint(md) {
				display: none;
			}
		}
	}
}


@media (min-width: 960px) {
	.Header {
		width: 100%;
		padding: 1.6rem 6rem;
		height: 6rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__list {
			display: flex;
		}
		&__title {
			font-size: 7.5rem;
		}
	}
}
